# virtualenv 
.venv/

# python cache
__pycache__/
*.pyc

# generated artifacts
reports/
data/*.db
client/scan_*.json
client/reports/
client/scans
# pulled external dataset (we can re-clone it)
data/ubuntu-cve-tracker/
